@import '../../../styles.scss';

.competition {
    width: 100%;
    padding: 30px 20px;
}

.match {
    width: 100%;
    height: 75px;
    background-color: $dark-04;
    color: $gray;
    flex-direction: column;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15px;
    cursor: pointer;
    margin-bottom: 5px;
    outline: none;

    &-title {

    }

    &-time {
        font-weight: normal;
        margin-top: 5px;
        font-size: 12px;
    }
}