<div 
    class="competition"
    *ngIf="scheduledMatches">
    <div 
        class="match"
        [ngClass]="{
            'live-match': match.isMatchLive
        }"
        *ngFor="let match of scheduledMatches"
        [routerLink]="match.id">

        <div class="match-title">
            {{ match.teams[0] }} - {{ match.teams[1] }}
        </div>

        <div *ngIf="!match.isMatchLive" class="match-time">
            <!-- {{ match.start_time | date: 'H:mm' }} -->
            {{ match.start_time | date: 'MMM d, y, H:mm' }}
        </div>

        <div *ngIf="match.isMatchLive" class="live-icon"></div>
    </div>
</div>
