<div class="competition">
    <div 
        class="match"
        *ngFor="let match of scheduledMatches"
        [routerLink]="match.id">

        <div class="match-title">
            {{ match.teams[0] }} - {{ match.teams[1] }}
        </div>

        <div class="match-time">
            <!-- {{ match.start_time | date: 'H:mm' }} -->
            {{ match.start_time | date: 'MMM d, y, H:mm' }}
        </div>
    </div>

    <!-- to delete -->
    <!-- <div *ngIf="currentTime" class="match-time">
        {{ currentTime | date: 'MMM d, y, H:mm:ss' }}
        <br>
        {{ currentTime.getTime() }}
    </div> -->
</div>
