@import 'src/styles.scss';

.app {
    width: 100%;
    height: 100vh;
    background-image: url(src/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar {
    width: 100%;
    height: 70px;
    background-color: $dark-02;

    .logo {
        width: 150px;
        height: 100%;
        margin-left: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../assets/img/logo.png');
    }
}