<div class="menu" #menu>
  <ul>
    <li>
      <a routerLink="/markets">
        <div class="icon-image eye"></div>
        My markets
      </a>
    </li>
    <li>
      <a routerLink="/football">
        <div class="icon-image football"></div>
        Football
      </a>
    </li>
    <li>
      <a routerLink="/cricket">
        <div class="icon-image cricket"></div>
        Cricket
      </a>
    </li>
    <li>
      <a routerLink="/horse-racing">
        <div class="icon-image horse"></div>
        Horse Racing
      </a>
    </li>
  </ul>
</div>

<div class="app" #app>
  <nav class="top-bar" #topBar>
    <div class="toggle-menu-wrapper">
      <div 
        *ngIf="currentUrlLength < 3"
        (click)="toggleMenu()" 
        class="toggle-menu"
        #toggleMenuElement>
      </div>

      <div
        *ngIf="currentUrlLength >= 3"
        (click)="back()"
        class="arrow-back"> 
      </div>
    </div>

    <div class="logo"></div>

    <div class="settings-wrapper">
      <div class="settings">
        <div class="user-icon"></div>
        <div class="user-balance">10.000</div>
      </div>
    </div>
  </nav>
  
	<router-outlet></router-outlet>
</div>