<div class="menu" #menu>
  <ul>
    <li>
      <a routerLink="/markets">
        <div class="icon-image eye"></div>
        My markets
      </a>
    </li>
    <li>
      <a routerLink="/football">
        <div class="icon-image football"></div>
        Football
      </a>
    </li>
    <li>
      <a routerLink="/cricket">
        <div class="icon-image cricket"></div>
        Cricket
      </a>
    </li>
    <li>
      <a routerLink="/horse-racing">
        <div class="icon-image horse"></div>
        Horse Racing
      </a>
    </li>
  </ul>
</div>

<div class="app" #app>
  <nav class="top-bar" #topBar>
    <div class="toggle-menu-wrapper">
      <div (click)="toggleMenu()" class="toggle-menu" #toggleMenuElement>
        <span class="line"></span>
      </div>
    </div>

    <div class="logo"></div>
  </nav>
  
	<router-outlet></router-outlet>
</div>