<div *ngIf="match" class="match">

    <div
        *ngIf="match.isMatchLive && !currentMatchTime" 
        class="loading">
        <div class="loader"></div>
    </div>

    <div class="match-title">

        <div
            class="pre-match" 
            *ngIf="!match.isMatchLive">

            <div class="match-name">
                {{ match.teams[0] }} v {{ match.teams[1] }}
            </div>
    
            <div class="match-time">
                {{ match.start_time | date:'H:mm' }}
            </div>
        </div>

        <div 
            class="live-match"
            *ngIf="match.isMatchLive && currentMatchTime">
            <div class="minute">
                {{ currentMatchTime === 91 ? 'FT' : currentMatchTime + "'" }}
            </div>
            <div class="score">
                <div class="home-team-score">
                    {{ homeTeamScore }}
                </div>
                <div class="away-team-score">
                    {{ awayTeamScore }}
                </div>
            </div>
            <div class="teams">
                <div class="home-team">
                    {{ match.teams[0] }}
                </div>
                <div class="away-team">
                    {{ match.teams[1] }}
                </div>
            </div>
        </div>
    </div>

    <div class="bet-wrapper">
        <div class="market-name">Match Odds</div> 
        <div *ngFor="let market of matchOdds" class="bets">
            <div class="runner-detail">
                {{ market.runnerDetails }}
            </div>

            <button 
                *ngIf="!match.isMatchLive" 
                (click)="showPlaceBet($event, market)" 
                class="market-odds">
                {{ market.odds }}
            </button>

            <div
                *ngIf="match.isMatchLive"
                class="market-odds-suspended">
                Suspended
            </div
            >
        </div>

        <!-- bet-placement div (shouldn't've displayed) -->
        <div class="bet-placement" #betPlacement>
            <div class="bet-info">
                <div class="bet-info-odds">
                    <div class="name">
                        ODDS
                    </div>
                    <div class="field"></div>
                </div>

                <div class="bet-info-stake">
                    <div class="name">
                        STAKE
                    </div>
                    <input
                        (input)="checkStake(stake.value)" 
                        #stake 
                        type="text" 
                        class="field">
                </div>
            </div>

            <div class="buttons">
                <button (click)="cancel()" class="cancel">Cancel</button>
                <button 
                    (click)="placeBet(stake.value)"
                    [disabled]="isBetInvalid" 
                    class="place-bet">
                    Place Bet
                </button>
            </div>
        </div>

    </div>
</div>
