<div *ngIf="match" class="match">
    <div class="match-title">
        <div class="match-name">
            {{ match.teams[0] }} v {{ match.teams[1] }}
        </div>

        <div class="match-time">
            {{ match.start_time | date:'H:mm' }}
        </div>
    </div>

    <div class="bet-wrapper">
        <div class="market-name">Match Odds</div> 
        <div *ngFor="let market of matchOdds" class="bets">
            <div class="runner-detail">
                {{ market.runnerDetails }}
            </div>
            <button (click)="placeBet($event, market)" class="market-odds">
                {{ market.odds }}
            </button>
        </div>

        <!-- bet-placement div (shouldn't've displayed) -->
        <div class="bet-placement" #betPlacement>
            <div class="bet-info">
                <div class="bet-info-odds">
                    <div class="name">
                        ODDS
                    </div>
                    <div class="field"></div>
                </div>

                <div class="bet-info-stake">
                    <div class="name">
                        STAKE
                    </div>
                    <input value="0" type="text" class="field">
                </div>
            </div>

            <div class="buttons">
                <button class="cancel">Cancel</button>
                <button class="place-bet">Place Bet</button>
            </div>
        </div>
        
    </div>
</div>
