@import '../../../styles.scss';

.match {
    width: 100%;
    height: auto;

    &-title {
        width: 100%;
        height: 75px;
        background-color: $dark-04;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 20px;
    }

    &-name {
        font-weight: bold;
        font-size: 18px;
    }

    &-time {
        margin-top: 5px;
        font-size: 14px;
    }

    .bet-wrapper {
        width: 100%;
        padding: 0 10px;
        margin-top: 30px;
        font-weight: bold;
        // height: 100px;
        // background-color: $dark-05;

        .market-name {
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            padding-left: 15px;
        }

        .bets {
            width: 100%;
            height: 50px;
            padding: 2px;
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2px;
            background-color: $dark-05;
        }

        .market-odds {
            width: 70px;
            height: 100%;
            border: none;
            color: lighten($gray, 10%);
            cursor: pointer;
            background-color: $orange;
            transition: .3s;

            &:hover {
                background-color: darken($orange, 10%);
            }

            &:active {
                background-color: darken($orange, 15%);
            }
        }
    }

    .bet-placement {
        width: 100%;
        padding: 10px;
        background-color: $dark-08;
        margin-bottom: 10px;
        border: 1px solid darken($orange, 10%);

        // !!!
        display: none;

        .bet-info {
            display: flex;

            &-odds,
            &-stake {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .name {
                    font-size: 12px;
                }

                .field {
                    margin: 10px 0;
                    background-color: #fff;
                    border: none;
                    text-align: center;
                    color: $dark-01;
                    height: 30px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 16px;
                }
            }

            &-stake {
                margin-left: 5px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            button {
                flex: 1;
                color: white;
                font-family: Lato;
                font-weight: bold;
                cursor: pointer;
                height: 50px;
                border: none;
                border-radius: 2px;
                transition: .3s;
            }

            .cancel {
                background: none;
                border: 1px solid $gray;
                color: $gray;

                &:hover {
                    border: 1px solid $dark-06;
                    background-color: $dark-06;
                }

                &:active {
                    border: 1px solid $dark-04;
                    background-color: $dark-04;
                }
            }

            .place-bet {
                margin-left: 5px;
                background-color: $orange;
                transition: .3s;

                &:hover {
                    background-color: darken($orange, 10%);
                }

                &:active {
                    background-color: darken($orange, 15%);
                }

                &:disabled {
                    opacity: .5;
                }
            }
        }
    }
}