<app-sport>
    <h1>Football</h1>

    <div 
        *ngIf="allLiveMatches && allLiveMatches.length > 0" 
        class="in-play">

        <div class="title">
            <div class="icon"></div>
            <div class="text">In Play ( {{ allLiveMatches.length }} )</div>
        </div>

        <div class="in-play-matches">
            <div 
                class="match"
                #match
                *ngFor="let match of allLiveMatches; let i = index"
                [hidden]="hideElement(i) && !showAllLiveMatches"
                [routerLink]="[match.sport_key, match.id]">

                <div class="match-title">
                    {{ match.teams[0] }} - {{ match.teams[1] }}
                </div>

                <div class="match-time">
                    <!-- {{ match.start_time | date: 'H:mm' }} -->
                    {{ match.start_time | date: 'MMM d, y, H:mm' }}
                </div>
            </div>
        </div>

        <div
            (click)="showOtherLiveMatches()"
            class="see-more">
            <div class="text">
                See More
            </div>
            <div class="icon"></div>
        </div
        >
    </div>

    <ul class="competitions-list">
        <div class="title">Competitions</div>

        <div 
            class="competition"
            *ngFor="let league of allLeaguesData"
            [routerLink]="league[0].sport_key"
        >
            {{ returnLeagueDisplayTitle(league[0].sport_key) }}
        </div>
    </ul>
</app-sport>

<div>
    {{ currentTime | date: 'H:mm:ss' }}
</div>