<app-sport>
    <h1>Football</h1>

    <div class="in-play">
        <div class="title">
            <div class="icon"></div>
            <div class="text">In Play</div>
        </div>

        <!-- <div class="in-play-matches"></div> -->
    </div>

    <ul class="competitions-list">
        <div class="title">Competitions</div>

        <div 
            class="competition"
            *ngFor="let league of allLeaguesData"
            [routerLink]="league[0].sport_key"
        >
            {{ returnLeagueDisplayTitle(league[0].sport_key) }}
        </div>
    </ul>
</app-sport>
